{crmScope extensionKey='dataprocessor'}
  <div class="crm-section">
    <div class="label">{$form.field.label}</div>
    <div class="content">{$form.field.html}</div>
    <div class="clear"></div>
  </div>
{/crmScope}
