<div class="chasse-schedule-editor " ng-form="scheduleEditor" >
  <div class="row form-group">
    <label class="col-sm-3">{{ ts('Processing') }}</label>

    <div class="col-sm-9">
      <label ><input type="checkbox" ng-model="d.useSchedule" ng-change="updateSchedule()" /> {{ ts('Use Automatic Schedule') }}</label>
    </div>
  </div>
  <div ng-if="d.useSchedule" >
    <div class="row form-group">
      <div class="col-sm-3">
        <label>{{ ts('Run every') }}</label>
      </div>
      <div class="col-sm-9 chasse-schedule-day row">
        <span ng-repeat="(i, dayname) in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']"
             class="col-sm-3">
             <label><input type="checkbox" ng-model="d.days[i]" ng-change="updateSchedule()"> {{dayname}}</label>
        </span>
      </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': scheduleEditor.dom.$invalid}" >
      <div class="col-sm-3">
        <label >{{ ts('Run every month on the') }}</label>
      </div>
      <div class="col-sm-2 col-lg-1">
        <div class="input-group">
          <input type="text"
                  size="2"
                  ng-model="d.dayOfMonth"
                  ng-change="updateSchedule()"
                  name="dom"
                  crm-ui-validate="(d.dayOfMonth === '') || (d.dayOfMonth < 32)"
                  crm-ui-validate-name="dom"
                  class="form-control" />
          <div ng-show="th()" class="input-group-addon">{{ th() }}</div>
        </div>
      </div>
      <div class="col-sm-5 chasse-validation-message" ng-show="scheduleEditor.dom.$invalid" >
        {{ ts( 'Enter a valid day-of-the-month, e.g. 1 would be 1st of month.') }}
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label >{{ ts('Don’t run before') }}</label>
      </div>
      <div class="col-sm-2 col-lg-1">
        <input
          type="text"
          size="5"
          ng-model="d.timeEarliest"
          ng-change="updateSchedule()"
          name="time_earliest"
          crm-ui-validate="validTime(d.timeEarliest)"
          crm-ui-validate-name="time_earliest"
          class="form-control"
        />
      </div>
      <div class="chasse-validation-message col-sm-4" ng-show="scheduleEditor.time_earliest.$invalid" >{{ ts('Enter a valid time in 24hr format, e.g. 9:00 or 20:12') }}</div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label >{{ ts('Don’t run after') }}</label>
      </div>
      <div class="col-sm-2 col-lg-1">
        <input type="text" size="5" ng-model="d.timeLatest" ng-change="updateSchedule()"  class="form-control"
          name="time_latest"
          crm-ui-validate="validTime(d.timeLatest)"
          crm-ui-validate-name="time_latest"
        />
      </div>
      <div class="chasse-validation-message col-sm-5" ng-show="scheduleEditor.time_latest.$invalid" >
        {{ ts('Enter a valid time in 24hr format, e.g. 9:00 or 20:12') }}
      </div>
    </div>
  </div>
</div>
