<div class="crm-container crm-block chasse-container" id="bootstrap-theme">
  <h1 crm-page-title>Chassé Journey Status</h1>

  <div class="alert alert-info" ng-show="noJourneys" >
    {{ ts('No journeys planned yet.') }}
    <a href='#chasse/config/new'>{{ ts('Let’s create a journey!') }} </a>
  </div>
  <p><a class="btn btn-success" href ng-click="reload()">{{ ts('Refresh status') }}</a></p>

  <div
    ng-repeat="(id, journey) in config.journeys || []"
    class="panel panel-default"
    style="margin-bottom:3rem"
    >
    <div class="panel-heading" >
      <div class="chasse-panel-with-actions" >
        <h2 class="panel-title">Journey: {{journey.name}}</h2>
        <div class="chasse-panel-actions">
          <a href="#chasse/config/{{id}}" class="btn btn-sm btn-primary" >{{ ts('Edit') }}</a>
        </div>
      </div>
    </div>
    <div class="panel-body" >
      <div class="chasse-diagram">
        <div ng-repeat="(step_offset, step) in journey.steps || []" class="chasse-step-container">
          <div class="chasse-step-name">{{ ts('STEP %stepCode', {stepCode: step.code}) }}</div>

          <div class="chasse-diagram-step-inner chasse-diagram-step-inner--wait" ng-if="previousStepHasInterval(journey, step_offset) || waiting(step.code)">
            <div class="chasse-diagram-bar-container">
              <div class="chasse-bar" style="height:{{ waiting(step.code) / maxContacts * 100 }}%"></div>
              <div class="chasse-label" >{{ waiting(step.code) }}</div>
            </div>
            <div class="chasse-diagram-action-container">
              <div class="chasse-next" >
                <div class="ui-icon fa-clock-o"></div>
                {{ prettifyInterval(journey, step_offset) }}
              </div>
            </div>
          </div><div class="chasse-diagram-step-inner {{ (previousStepHasInterval(journey, step_offset) || waiting(step.code)) ? 'half' : ''}}">
            <div class="chasse-diagram-bar-container">
              <div class="chasse-bar" style="height:{{ stats[step.code].ready / maxContacts * 100 }}%"></div>
              <div class="chasse-label" >{{ stats[step.code].ready }}</div>
            </div>
            <div class="chasse-diagram-action-container">
              <div class="chasse-next" >
                <div ng-if="step.send_mailing" title="{{msg_tpls[step.send_mailing]}}">
                  <div class="ui-icon fa-envelope"></div>
                </div>
                <div ng-if="step.add_to_group" title="{{groups[journey.mailing_group]}}">
                  <div class="ui-icon fa-user-plus"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--/chasse-diagram-->
      <div ng-if="journeyHasSchedule(journey)" class="chasse-icon-box">
        <i class="ui-icon fa-play-circle-o"></i> {{ ts('Automatic processing enabled') }}{{ describeSchedule(journey.schedule) }}
      </div>
      <button ng-if="!journeyHasSchedule(journey)" class="btn btn-danger-outline" ng-click="runJourney(id)" ng-disabled="busy">{{ ts('Process Now') }}</button>
    </div><!--/panel-body-->
  </div><!--/panel-->

  <br />
  <a class="btn btn-primary" href="#chasse/config/new" >{{ ts('Add New Journey') }}</a>
</div>
