/* Provide visual feedback when clicked */
.crm-easycopy-button {
  /* Works for me on shoreditch, but may not work for everyone */
  position: absolute;
  top: 5px;
  right: -30px;
  height: 20px;
  width: 20px;
  text-align: center;
  z-index: 9999999;
  cursor: pointer;
  color: #999; /* grey */
}
.crm-easycopy-button:hover {
  color: black;
}
.crm-easycopy-button:active {
  color: #13a33f; /* dark green */
}

/* Poor attempt at providing visual feedback on click */
.crm-easycopy-animated {
  color: #13a33f; /* dark green */
  animation: crm-easycopy-highlight 0.5s linear;
  border-radius: 50%;
}

@keyframes crm-easycopy-highlight {
  0%  { border-top: 1px dotted #13a33f; }
  25% { border-right: 1px dotted #13a33f; }
  50% { border-bottom: 1px dotted #13a33f; }
  75% { border-left: 1px dotted #13a33f; }
}

#crm-email-content,
#crm-phone-content,
.crm-address-block > div {
  /* leave a bit of space so that the hovering from inline-edit does not seem too weird */
  width: 85% !important;
  /* For the position:absolute of the button */
  position: relative;
}

/* Make sure that if there is more than one phone or email, the button should not overlap */
#crm-email-content .crm-contact_email,
#crm-phone-content .crm-summary-row {
  position: relative;
}
