/**
 * General
 */
#crm-dataexplorer-container {
  display: flex;
}
#dataexplorer-results-container {
  flex-grow: 1;
}
/* Page title, when displaying graphs */
#crm-container #dataexplorer-description {
  width: 100%;
}
#crm-container #dataexplorer-description h3 {
  background-color: inherit;
  font-weight: normal;
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding: 0;
}

#crm-container .panel.panel-primary {
  width: inherit;
  background: inherit;
  padding: inherit;
  position: inherit;
  padding: 0;
}

/**
 * Menus
 */
#dataexplorer-menu-nav {
  width: 200px;
  margin-right: 1em;
  padding: 0.5em 0;
}
#dataexplorer-menu-nav .dataexplorermode-viewmode-wrapper,
#dataexplorer-menu-nav .dataexplorer-menu-nav-header,
#dataexplorer-menu-nav > .list-group > div {
  padding-right: 0.5em;
  padding-left: 0.5em;
}
#dataexplorer-menu-nav,
#dataexplorer-menu-options {
  border: 1px solid #ccc;
  border-radius: 5px;
}

#dataexplorer-menu-nav > .dataexplorermode-viewmode-wrapper {
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
}
.crm-container .dataexplorermode-viewmode-wrapper i {
  color: #999;
}
.crm-container .dataexplorermode-viewmode-wrapper i:hover {
  color: #07c; /* blue */
}
.crm-container .dataexplorermode-viewmode-wrapper i.item-selected {
  color: #2786C2; /* ? */
}

#dataexplorer-menu-nav .dataexplorer-menu-nav-header {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-size: 120%;
  font-weight: bold;
}

.dataexplorer-label {
  padding: 0.5em 0;
  border-bottom: 1px solid #ccc;
  color: black;
  cursor: pointer;
}
.dataexplorer-label:last-child {
  border-bottom: none;
}

/* Select2 in menus (mostly to fix in Shoreditch) */
#crm-dataexplorer-container .select2-container {
  padding: 0 !important;
  width: auto !important;
  height: auto !important;
}

/* Menu popups */
.list-group-item {
  position: relative;
}
.menu-popup .list-group-item {
  position: relative;
  z-index: 999999; /* to show over the map widgets */
}
.list-group-item > .menu-popup {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: white;
  color: black;

  max-height: 300px;
  overflow-y: auto;

  -webkit-transition: opacity .50s ease;
     -moz-transition: opacity .50s ease;
      -ms-transition: opacity .50s ease;
       -o-transition: opacity .50s ease;
          transition: opacity .50s ease;
}

/* Background/color of the main menu hover */
.dataexplorer-menu-first-level > .list-group-item.dataexplorer-menu-forceopen,
.dataexplorer-menu-first-level > .list-group-item:hover,
.dataexplorer-menu-first-level > .list-group-item > .menu-popup > div:hover {
  background: #07c; /* blue */
  color: white;
}

.list-group-item.dataexplorer-menu-forceopen > .menu-popup,
.list-group-item:hover > .menu-popup {
  visibility: visible;
  opacity: 1;

  width: 250px;
  right: -250px;
  top: 0;
  z-index: 1000;

  border: 1px solid #ccc;
  padding: 0.5em;
  box-sizing: border-box;
}

.menu-popup .list-group-item {
  padding-left: 2em;
}
.menu-popup .list-group-item.item-selected {
  padding-left: 1em;
}
.menu-popup .list-group-item.item-selected::before {
  visibility: visible;
  content: '✔ '; /* checkbox */
}

/* Select all/none items */
.dataexplorer-menu-buttons-wrapper {
  text-align: right;
}

/* Hack for date filters (too long for what .badge expects) */
.list-group-type-dates .badge {
  margin-top: -5px;
  vertical-align: middle;
}

/* badges with font-awesome need a bit of spacing */
.badge > .fa,
.badge > .fa-stack {
  padding: 0 0.25em;
}

/* used for on/any/off items3, such as Donation */
/* @todo Deprecated? */
.list-group-item > .menu-popup.dataexplorer-menu-second-level-items3 {
  width: 500px;
  right: -500px;
}

.list-group-item:hover > .menu-popup.dataexplorer-menu-second-level-items3 > .list-group-item > div {
  display: inline-block;
}
.list-group-item:hover > .menu-popup.dataexplorer-menu-second-level-items3 > .list-group-item > .dataexplorer-items3-label {
  width: 100px;
}

.list-group-item:hover > .menu-popup.dataexplorer-menu-second-level-items3 > .list-group-item > .btn-group > label {
  width: 100px;
}

/* Other icons */
/*
.crm-container .dataexplorer-export-icon {
  background-position: -35px -78px;
}

.crm-container .dataexplorer-compare-icon {
  background-position: -50px -78px;
}

a.dataexplorer-viewmode.item-selected::before {
  content: '✔ ';
}
*/


/* hacks for date picker and bookmarks */
.menu-popup form {
  display: inline;
}

.menu-popup form .crm-form-text {
  width: 9em;
}

/**
 * Presets UI
 */
#dataexplorer-presets-button {
  float: right;
  color: #fff;
}

#dataexplorerPresets {
  position: absolute;
  top: 55px;
  right: 55px;
  width: 500px;
}
#dataexplorerPresets a.dataexplorer-preset-title {
  display: block;
  width: 90%; /* leave padding before trash icon */
}
#dataexplorerPresets a.dataexplorer-preset-title > span {
  color: #999; /* shortcode */
}
#dataexplorerPresets a.dataexplorer-preset-title > p {
  color: #000; /* description */
  margin: 0;
}
#dataexplorerPresets a.dataexplorer-preset-delete {
  float: right;
}

/**
 * Table display
 */
#tableContainer th:nth-child(2),
#tableContainer td:nth-child(2) {
  text-align: right;
}

/**
 * Leaflet map
 */
#map {
  height: 500px;
  width: 100%;
}
.leaflet-container {
  background-color: rgba(255, 255, 255, 0.0) !important;
}
.map-legend {
  line-height: 18px;
  color: #555;
}
.map-legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Hide the help initially, since when restoring configs, causes flicker otherwise */
#dataexplorer-intro-help {
  display: none;
}

#dataexplorer-loading {
  display: none;
}
