/** Style overrides for UX plugin **/

#bootstrap-theme .crm-submit-buttons > .crm-button-type-next,
#bootstrap-theme .crm-submit-buttons > .crm-button-type-upload {
  background-color: #0071bd;
}

.crm-container #bootstrap-theme a.button,
.crm-container #bootstrap-theme a.button:link,
.crm-container #bootstrap-theme a.button:hover,
.crm-container #bootstrap-theme a.button:focus,
.crm-container #bootstrap-theme a.button:active,
.crm-container #bootstrap-theme input.crm-form-submit,
.crm-container #bootstrap-theme input[type="button"],
.crm-container #bootstrap-theme button.crm-button,
.crm-container #bootstrap-theme button.crmMailing-btn-primary.crm-button,
.crm-container #bootstrap-theme a.button.crmMailing-submit-button,
               #bootstrap-theme .ui-dialog .ui-dialog-buttonpane button {
  height: auto;
}

#bootstrap-theme .civicase__activity-panel__core_container .crm-submit-buttons .delete {
  color: white !important;
}

.crmFormProcessorEdit > .status {
    position: sticky;
    top: var(--crm-menubar-bottom, 40px);
    z-index: 1;
}

.crmFormProcessorEdit .crmFormProcessorButtons {
    position: sticky;
    bottom: 1px;
    background: #fff8;
    box-shadow: 0 -1px 0 #aaa, 0 1px 0 white, 4px 0 2px inset white, -4px 0 2px inset white;
    backdrop-filter: blur(2.5px);
}

.CRM_ACL_Form_WordPress_Permissions tr:first-child {
    position: sticky;
    top: var(--crm-menubar-bottom, 40px);
    background: #f0f0f1;
    z-index: 1;

    td {
        vertical-align: bottom;
    }
}

/* SUP-72228 add constraint on when tabs can be less than full width */
.ui-tabs-nav {
    container: tabs-nav / inline-size;
}

@container tabs-nav (max-width: 320px) {
    .ui-tabs-tab > .ui-tabs-anchor {
        min-width: 100%;
    }
}

/* CIVIBLD-354 Style error messages for Checksum token validations */
/* Note this breaks HTML semantics, because CiviCRM uses spans for the error message line, but oh well */
.crm-container .crm-error {
    display: block;
    width: auto;
    padding: 0.5rem;
    margin-top: 0.5em;
}

.crm-container .crm-error ul {
    list-style: disc;
    margin-left: 1.5em;
}

.crm-plaint_text_email-accordion .crm-form-textarea {
    width: 100%;
}
