<script>
  export let data;
  export let y;
  export let axis;
  export let scaleX;
  export let cssClasses = [];
  export let title = '';
  export let fill = false;
  export let stackOn = false;

  let yAccessor = (typeof y === 'string') ? d => d[y] : y;
  let dLine = '', dFill = '', zeroYcoord = 0, coOrds = [];

  $: {
    // Calculate the SVG coords
    coOrds = data.map(t => {
      let v = yAccessor(t),
        stackV = stackOn ? stackOn(t) : 0;
      return {
        label: v,
        y: axis.valToSvg(v+stackV),
        stackV,
        stackY: axis.valToSvg(stackV)
      };
    });
    zeroYcoord = axis.valToSvg(0);

    // The line:
    dLine = coOrds.map((r, i) =>
        'L' +  scaleX(i).left + ',' + r.y
        + 'L' +  scaleX(i).right + ',' + r.y
      ).join(' ').replace(/^L/, 'M');
    if (stackOn) {
      dFill = dLine;
      for (let i = data.length -1; i>=0; i--) {
        dFill += ' L' + scaleX(i).right + ',' + coOrds[i].stackY
                 + ' L' + scaleX(i).left + ',' + coOrds[i].stackY;
      }
      dFill += 'Z';
    }
    else {
      // Fill to xaxis.
      dFill = `${dLine}L${scaleX.rightEdge},${zeroYcoord}L${scaleX.leftEdge},${zeroYcoord}Z`;
    }
  }

</script>
<g class="{cssClasses}" {title} >
  {#if fill}
    <path d={dFill} class="line-fill" />
  {/if}
  <path d={dLine} class="line"/>
</g>


