<script>
  import { createEventDispatcher } from 'svelte';
  export let data;
  export let chart;
  export let scaleX;

  const dispatch = createEventDispatcher();

  let selected, selectedRow, overlayX, overlayW, niceDate, onRight;
  $: {
    if (typeof selected === 'number') {
      selectedRow = data[selected];
      console.log("selected is ", selected);
      onRight = (selected < data.length/2);
      overlayW = 200;
      overlayX = onRight ? Math.ceil(scaleX(selected).right) : Math.floor(scaleX(selected).left - overlayW);
      niceDate = (new Date(selectedRow.day_ended.substr(0, 10))).toLocaleString('UTC', { day:'numeric', month: 'short', year:'numeric' });
      console.log('showing', selected, selectedRow, overlayX);
    }
    else {
      console.log("selected is undefined");
      selectedRow = null;
    }
  }

  function showDetails(i) {
    selected = i;
  }

</script>

<g class="overlay">
  {#each data as row, i}
    <g transform="translate({scaleX(i).left}, 0)" class="chart-row" class:faded={selectedRow && selected !== i}>
      <rect x=0 y=0 width={scaleX.colWidth} height={chart.h}
        on:click={e => {console.log(e, selected, i); selected = (selected === i) ? null : i;}}
      />
    </g>
  {/each}
  {#if selectedRow}
  <g transform="translate({overlayX}, 0)" class="row-details">
    <rect x=0 y=0 width={overlayW} height={chart.h} class="row-details-bg" rx=8 />
    <rect x={onRight ? -scaleX.width : 0} y=0 width={scaleX.width + overlayW} height={chart.h} class="row-details-outline" rx=8 />
    <text x=5 y=30 >
      <tspan x={overlayW/2} class="title" text-anchor=middle>{niceDate}</tspan>
      <tspan x=12 dy="1.6em" class="members">👥 {selectedRow.members_count.toLocaleString()} members</tspan>
      <tspan x=12 dy="1.6em" class="no-email">❓ {selectedRow.missing_email_count.toLocaleString()} no email</tspan>
      <tspan x=12 dy="1.6em" class="opt-out">✋ {selectedRow.opt_out_count.toLocaleString()} opt-out</tspan>
      <tspan x=12 dy="1.6em" class="on-hold" >⛔ {selectedRow.on_hold_count.toLocaleString()} on hold</tspan>
      <tspan x=12 dy="1.6em" class="mailable">📨 {selectedRow.mailable_count.toLocaleString()} mailable</tspan>
    </text>

    <text x=5 y=170 >
      <tspan x={overlayW/2}  dy="1.6em" class="title" text-anchor=middle >Changes</tspan>
      <tspan x=12 dy="1.6em" class="additions" >{selectedRow.additions_count.toLocaleString()} new</tspan>
      <tspan x=12 dy="1.6em" class="removals" >{selectedRow.removals_count.toLocaleString()} unsubscribed</tspan>
      <tspan x=12 dy="1.6em" class="held" >{selectedRow.held_count.toLocaleString()} held</tspan>
      <tspan x=12 dy="1.6em" class="un-held" >{selectedRow.released_hold_count.toLocaleString()} released</tspan>
    </text>
  </g>
  {/if}

</g>

