<script>
  export let axis;
  export let chart;
  export let right = false;

  $: x = right ? chart.w : 0;

  let coOrds = [];
  $: coOrds = axis.map(t => ({label: t.toLocaleString(), y: axis.valToSvg(t)}));
</script>

<g class="y-axis">
  {#each coOrds as tick}
    <g transform="translate({x}, {tick.y})" class="chart-tick">
      <path d="M0,0 l{right ? 5 : -5},0" />
      <text text-anchor={right ? 'start': 'end'} x="{right ? 7 : -7}" dy=5 >{tick.label}</text>
    </g>
  {/each}
  <path d="M{x},{axis.valToSvg(axis.min)} L{x},{axis.valToSvg(axis.max)}" class="axis-edge" />
</g>

