<div class="crm-container">
  <div crm-ui-debug="config"></div>

  <h1 crm-page-title>{{ts('Configure Inferred Tags')}}</h1>

  <div ng-show="state=='loading'">Loading...</div>
  <form ng-show="state=='loaded'" name="myForm" crm-ui-id-scope>
    <div class="help">
      <p>{{ts('Select the relationships that should infer tags.')}}</p>
      <button ng-click="save()" ng-disabled="!dirty" class="{{ dirty ? '' : 'disabled' }}" >{{ ts(dirty ? 'Save' : 'Saved'); }}</button>
      </p>
    </div>
    <div
      ng-repeat="tagset in tagsets"
      crm-ui-accordion="{title: 'Tagset: ' + tagset.name + (mappedConfig[tagset.name].inUse ? '' : ' (not in use)'), collapsed: true}" >

      <label><input
        type="checkbox"
        ng-change="setDirty()"
        ng-model="mappedConfig[tagset.name].inUse" />&nbsp;{{ts('Use inferred tags with this tagset')}}</label>

      <div ng-show="mappedConfig[tagset.name].inUse">


        <div>
          <label><input
                   type="checkbox"
                   ng-change="setDirty()"
                   ng-model="mappedConfig[tagset.name].autoInfer" />&nbsp;{{ts('Infer tags if no tags present')}}</label><br/>
          <p class="description">If you do not tick this then the only contacts that will get inferred tags are those that you have manually added the 'Inferred' tag to.</p>
        </div>

        <div>
          <label><input
                   type="checkbox"
                   ng-change="setDirty()"
                   ng-model="mappedConfig[tagset.name].includeExpired" />&nbsp;{{ts('Include expired (by date) relationships')}}</label><br/>
          <p class="description">If ticked, it will follow relationships that are not current. Normally you’ll just want to leave this un-checked to only use current relationships.</p>
        </div>

        <div>
          <label><input
                   type="checkbox"
                   ng-change="setDirty()"
                   ng-model="mappedConfig[tagset.name].includeInactive" />&nbsp;{{ts('Include inactive relationships')}}</label><br/>
          <p class="description">If ticked, it will follow relationships that are marked as <em>inactive</em> (this is a checkbox setting on a relationship). Normally you’ll just want to leave this un-checked to only use active relationships.</p>
        </div>

        <table>
          <thead><tr><th>{{ts("Relationship ('A' side)")}}</th><th>{{ts("Relationship ('B' side)")}}</th></tr></thead>
          <tbody>
            <tr ng-repeat="relType in relTypes">
              <td>
                <label>
                  <input type=checkbox
                    ng-model="mappedConfig[tagset.name].aSide[relType.id]"
                    ng-change="setDirty()"
                    />
                  &nbsp;{{relType.label_a_b}}
                </label>
              </td>
              <td>
                <label>
                  <input type=checkbox
                    ng-model="mappedConfig[tagset.name].bSide[relType.id]"
                    ng-change="setDirty()"
                    />
                  &nbsp;{{relType.label_b_a}}
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>

</div>
