<div class="crm-container emailunion">

  <h1 crm-page-title>{{ts('Email Union')}}</h1>

  <!-- This is in case it becomes important to communicate anything to everyone using the extension -->
  <div ng-if="$ctrl.message" class="messages help">
    {{$ctrl.message}}
  </div>

  <form name="myForm" crm-ui-id-scope>

    <div crm-ui-accordion="{title: ts('Info and settings'), collapsed: true}">
      <p>{{ts('This provides a per-domain analysis of how many emails you have and how many were put on hold in the last year. It also provides averages from others who choose to participate in the "Email Union"! You are encouraged to submit your stats to the Email Union’s aggregate pool: the more data we have the more useful the averages.')}}</p>
      <p><a href="https://lab.civicrm.org/extensions/emailunion/-/blob/main/README.md" target="_blank" >{{ts('FAQ, issues')}}</a></p>
      <p>{{ts('Select your email provider so you can see how your performance compares to others’ using that provider.')}}</p>
      <label for="provider">{{ts('Your email provider')}}</label>
      <select id="provider"
              ng-model="$ctrl.providerName"
              ng-options="n for n in $ctrl.knownProviders"
              ng-change="$ctrl.updateProvider()"
              ></select>
      <input ng-model="$ctrl.providerNameNew"
             ng-show="$ctrl.providerName === ts('--new provider--')"
             />
      <button class="" ng-show="$ctrl.providerName === ts('--new provider--')" ng-disabled="!$ctrl.providerNameNew" ng-click="$ctrl.updateProvider(1)" >Save Provider</button>

      <h2>{{ts('Contributing to the data')}}</h2>
      <p ng-bind-html="ts('Make this a useful tool by regularly submitting your anonymised, aggregate data. This is a service provided by Artful Robot; you can reach them @artfulrobot in <a href=&dquo;https://chat.civicrm.org&dquo; target=_blank>CiviCRM chat</a>, or by submitting an <a href=&dquo;https://lab.civicrm.org/extensions/emailunion/-/issues&dquo; target=_blank>issue</a>.')"></p>

      <div>
        <label for="hideDomains">{{ts('You can optionally hide domains from being submitted.')}}</label>
        <textarea id="hideDomains" ng-model="$ctrl.hideDomains" rows=5 cols=60></textarea>
        <button class="" ng-click="$ctrl.saveHideDomains()" ng-disabled="$ctrl.hideDomains === $ctrl.hideDomainsOriginal">Save hidden domains</button>
      </div>

      <br />

      <div>
        <button class="" ng-click="$ctrl.getExport()" >Show data that would be submitted</button>

        <div ng-show="$ctrl.exportData" >
          <br />
          <textarea ng-model="$ctrl.exportData" rows=15 cols=60 ></textarea>
        </div>

      </div>

      <div>
        <p>{{ts('Your site last contributed data: %1', {1: $ctrl.lastSubmitted})}}</p>
        <button ng-click="$ctrl.submit()" ng-disabled="$ctrl.isSubmitting" >{{ $ctrl.isSubmitting ?  ts('Please wait') : ts('Contribute our data') }}</button>
        <p><a href ng-click="$ctrl.submit('delete')" >{{ts('Delete my data from the Email Union')}}</a></p></p>
      </div>

      <br />

      <div>
        <label>
          <input type="checkbox"
                 ng-model="$ctrl.autoSubmit"
                 ng-change="$ctrl.saveAutoSubmit()" />
          {{ts('Enable automatically submission')}}
          <em ng-show="$ctrl.autoSubmit">{{ts('Thanks! You’re helping make the Email Union more useful!')}}</em>
        </label>
      </div>
    </div>

    <!-- Set provider -->

    <!-- present stats. -->

    <div class="emailunion-summary">
      <div class="bigstat">{{$ctrl.ourHoldPercent}}%</div>
      <div class="details" ng-bind-html="ts('of our %4 emails are on hold. This compares with avg <strong>%1%</strong> for <em>%2</em> and <strong>%3%</strong> across all providers', {1: $ctrl.providerHoldPercent, 2: $ctrl.providerName, 3: $ctrl.unionHoldPercent, 4: $ctrl.ourTotal.toLocaleString()})"></div>
    </div>

    <table >
      <thead>
        <tr>
          <th><a href ng-click="$ctrl.updateSort('domain')">Domain</a></th>
          <th><a href ng-click="$ctrl.updateSort('onHold')">on hold local</a></th>
          <th><a href ng-click="$ctrl.updateSort('total')">total local</a></th>
          <th><a href ng-click="$ctrl.updateSort('localPercent')">% on hold local</a></th>
          <th><a href ng-click="$ctrl.updateSort('providerName')">% on hold provider</a></th>
          <th><a href ng-click="$ctrl.updateSort('allPercent')">% on hold all</a></th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="row in $ctrl.rows">
          <td>{{row.domain}}</td>
          <td><bg-barchart max="$ctrl.max.onHold" val="row.onHold"></bg-barchart></td>
          <td><bg-barchart max="$ctrl.max.total" val="row.total"></bg-barchart></td>
          <td><bg-barchart max="$ctrl.max.localPercent" val="row.localPercent"></bg-barchart></td>
          <td><bg-barchart max="$ctrl.max.providerPercent" val="row.providerPercent"></bg-barchart></td>
          <td><bg-barchart max="$ctrl.max.allPercent" val="row.allPercent"></bg-barchart></td>
        </tr>
      </tbody>
    </table>

    <div>
      <button ng-click="$ctrl.submit()" ng-disabled="$ctrl.isSubmitting" >{{ $ctrl.isSubmitting ?  ts('Please wait') : ts('Contribute our data') }}</button>
      <p>{{ts('Your site last contributed data: %1', {1: $ctrl.lastSubmitted})}}</p>
      <p>{{ts('You can see exactly what data would be submitted using the button inside the Info and setting box above.')}}</p>
      </p>
    </div>

  </form>

</div>
