<div class="af-gui-element">
  <div class="af-gui-bar">
    <div class="form-inline pull-right">
      <div class="btn-group pull-right" af-gui-menu>
        <button type="button" class="btn btn-default btn-xs dropdown-toggle af-gui-add-element-button" data-toggle="dropdown" title="{{:: ts('Configure') }}">
          <span><i class="crm-i fa-gear"></i></span>
        </button>
        <ul class="dropdown-menu" ng-if="menu.open" ng-include="'~/afGuiRecaptcha3/afGuiRecaptcha3-menu.html'"></ul>
      </div>
    </div>
  </div>
  <div class="af-gui-recaptcha3-placeholder"></div>
</div>

